*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
.cxx
*.apk
*.aab
.kotlin/
*.log
*.hprof

# iOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
DerivedData/
build/
.swiftpm/
